# Used in TwilightForestMod to allow block stripping
public-f net.minecraft.world.item.AxeItem f_150683_ # STRIPPABLES
public com.simibubi.create.AllSpriteShifts omni(Ljava/lang/String;)Lcom/simibubi/create/foundation/block/connected/CTSpriteShiftEntry;